<!DOCTYPE html>
<html>
  <head>
    <title>panCake!</title>
    <%=render 'layouts/shim'%>
  </head>
  <body class="form-bg">
      <div class="container">
        <div class="form-platform">
          <div class="form">
            <div class="row">
              <h1 class="form-title">Update Team</h1>
            </div>
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3">
                <div class="form-group">

                  <!--Team Creation Form -->
                  <%= form_for(@team) do  |f| %>
                    <%= render 'shared/error_messages', object: f.object%>
                    <!-- Team Name -->
                    <%= f.label :name %>
                    <%= f.text_field :name, class: "form-control", placeholder: "What is your team called?" %>

                    <!-- Team Description -->
                    <%= f.label :description %>
                    <%= f.text_area :description, class: "form-control", size: "20x5", placeholder: "Say a little about your team..." %>

                    <!-- Submit Button -->
                    <%= f.submit "Update", class: "btn btn-primary" %>
                    <%= link_to 'Back', team_path(@team), class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>



</html>