<div>
  <h4 class="bold">Fixtures</h4>
  <% if @user.fixtures.any? %>
    <% @user.fixtures.each do |fixture| %>
      <div id="content-platform">
        <% home_team = fixture.home_team.name %>
        <% away_team = fixture.away_team.name %>
        <h5><%= home_team + " vs " + away_team %></h5>
        <p><%= fixture.description %></p>
        
        <%= link_to "View", fixture_path(fixture) %>
        <p id="spacer">|</p>
        <%= link_to "Edit", edit_fixture_path(fixture) %>
        <p id="spacer">|</p>
        <%= link_to "Remove", fixture, method: :delete, data:{confirm: "Are you sure? "} %>
      </div>   
    <% end %>
  <% else %>
     <h3 class="center">You have no fixtures!</h3>
  <% end %>
</div>
<%= link_to "Add Fixture", new_fixture_path, class: "btn btn-primary" ,id: "add-helper" %>
