<!DOCTYPE html>
<html>
  <head>
    <title>panCake!</title>
    <%=render 'layouts/shim'%>
  </head>
  <body class="form-bg">
      <div class="container">
        <div class="form-platform">
          <div class="form">
            <div class="row">
              <h1 class="form-title">Create Fixture</h1>
            </div>
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3">
                <div class="form-group">

                  <!--Fixture Creation Form -->
                  <%= form_for(@fixture) do  |f| %>
                    <%= render 'shared/error_messages', object: f.object%>

                    <!-- Home Team -->
                    <%= f.label :home_team %>
                    <%= f.collection_select :home_team_id, @teams,:id, :name, {include_blank: "Select team..."}, {class: "form-control"} %>

                    <!-- Away Team -->
                    <%= f.label :away_team %>
                    <%= f.collection_select :away_team_id, @teams, :id, :name, {include_blank: "Select team..."}, class: "form-control" %>

                    <!-- Date and Time -->
                    <%= f.label :date_time, "Date & Time" %>
                    <%= f.datetime_field :date_time, {class: "form-control"} %>

                    <!-- Description -->
                    <%= f.label :description %>
                    <%= f.text_area :description, class: "form-control", size: "20x5", placeholder: "Fixture description..." %>

                    <!-- Venue -->
                    <%= f.label :venue %>
                    <%= f.collection_select :venue_id, @venues, :id, :name, {include_blank: "Select venue..."},{class: "form-control"} %>
                    <%= link_to "Venue not showing?", new_venue_path %> </br>

                    <!-- Submit Button -->
                    <%= f.submit "Add Fixture", class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>



</html>