<div class="container">
  <div class="platform center">
    <div class="jumbotron">
        <div class="row">
        <div id="home-team" class="col-md-4 center">
          <h2><%= @fixture.home_team.name %></h2>
        </div>
        <div class="col-md-4 center">
          <h2>vs</h2>
        </div>
        <div id="away-team" class="col-md-4 center">
          <h2><%= @fixture.away_team.name %></h2>
        </div>
      </div>
      <div id="results" class="row">
        <div class="col-md-4">
          <% if @fixture.match_sets.any? %>
            <% @fixture.match_sets.each do |set| %>
             <h2><%= set.home_score %></h2>
             <% end %>
          <% end %>
        </div>
        <div id="team-spacer" class="col-md-4">
          <% if @fixture.match_sets.any? %>
            <% @fixture.match_sets.each do |set| %>
             <h2> Set <%= set.set_number %></h2>
             <% end %>
          <% end %>
          <%= link_to "Add Set",new_fixture_match_set_path(@fixture), class: "btn btn-primary" %>
        </div>
        <div class="col-md-4">
          <% if @fixture.match_sets.any? %>
            <% @fixture.match_sets.each do |set| %>
             <h2><%= set.away_score %></h2>
             <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>