
<% provide(:title, @user.first_name)%>
<h1>
  <%= gravatar_for @user %>
  <% name = @user.first_name.downcase + " " + @user.last_name.downcase%>
  <%= name.titleize  %>
</h1>

<%= @user.first_name %>, <%= @user.email %>

<div>
  <h3>Teams</h3>
  <% if @user.teams.any? %>
      <ul>
        <%@user.teams.each do |team| %>
          <li><%= link_to team.name, team_path(team) %></li>
        <% end %>
      </ul>
      
    
  <% end %>
  <%= link_to "Add Team", new_team_path %>
</div>