
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div id="user-platform-top">
        <%= link_to (gravatar_for @user), "http://en.gravatar.com/" %>
        <% name = @user.first_name.downcase + " " + @user.last_name.downcase%>
        <h3 id="full-name"><%= name.titleize %></h3>
        <h4 id="username"><%= @user.username.downcase%></h4>
      </div>
      <div id="user-platform-bottom">
        <h5 id="email"><%=@user.email.downcase%></h5>
      </div>
    </div>
    <div class="col-md-8">
      <%= render "teams/team_listing" %>
    </div> 
  </div>
  <div class="row">

  </div>
</div>

