<div class="col-xs-12" id="touch-tracker">
  <div>
    <% if @match_set.touches.any? %>
    <% @match_set.touches.each do |touch| %>
      <% if touch.id.to_i != 0 %>
        <% team = Team.find(touch.team_id) %>
        <% player = Player.find(touch.player_id) %>
        <% home_team = @fixture.home_team %>
        <% away_team = @fixture.away_team %>
        <div id="touch">
          <%= link_to(edit_touch_path(touch.id), :class => 'touch-select') do %>
            <div id="touch-line">
              <div class="touch-part"><h4> <%=team.name %></h4></div>
              <div class="touch-part"><h4 id="describer">player</h4></div>
              <div class="touch-part"><h4> <%=player.last_name %></h4></div>
              <div class="touch-part"><h4 id="describer">in position</h4></div>
              <div class="touch-part"><h4> <%=touch.position %></h4></div>
              <div class="touch-part"><h4 id="describer">performed a(n)</h4></div>
              <div class="touch-part"><h4> <%=touch.touch_type %></h4></div>
              <div class="touch-part"><h4 id="describer">and resulted in a(n)</h4></div>
              <div class="touch-part"><h4> <%=touch.touch_result.titleize %></h4></div>
            </div>
          <% end %>
          
          <div class="clearfix"></div>

          <% if is_it_a_point?(touch) == true %>
            <% if @home_score.present? && team.name == home_team.name %>
              <% @home_score+=1 %>
              <h4 class="center">Home - <%=@home_score%> : <%=@away_score%> - Away</h4>
            <% elsif @away_score.present? && team.name == away_team.name %>
              <% @away_score+=1 %>
              <h4 class="center">Home - <%=@home_score%> : <%=@away_score%> - Away</h4>
            <% end %>
          <% elsif is_it_a_point?(touch) == false %>
            <% if @away_score.present? && team.name == home_team.name %>
              <% @away_score+=1 %>
              <h4 class="center">Home - <%=@home_score%> : <%=@away_score%> - Away</h4>
            <% elsif @home_score.present? && team.name == away_team.name %>
              <% @home_score+=1 %>
              <h4 class="center">Home - <%=@home_score%> : <%=@away_score%> - Away</h4>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
     <h3 class="center">You have no touches!</h3>
  <% end %>
  <script type="text/javascript">scrollToBottom();</script>
  </div>
</div>